{% extends "base.html" %}

{% block extrahead %}
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://minhh2792.is-a.dev/mcvn-optimization-guide/">
<meta property="og:title" content="Tối ưu server Minecraft">
<meta property="og:description" content="Một chiếc guide nhỏ xinh giúp bạn dễ dàng hơn trong việc tối ưu server">
<meta property="og:image" content="https://minhh2792.is-a.dev/mcvn-optimization-guide/assets/images/banner-msog.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://minhh2792.is-a.dev/mcvn-optimization-guide/">
<meta property="twitter:title" content="Tối ưu server Minecraft">
<meta property="twitter:description" content="Một chiếc guide nhỏ xinh giúp bạn dễ dàng hơn trong việc tối ưu server">
<meta property="twitter:image" content="https://minhh2792.is-a.dev/mcvn-optimization-guide/assets/images/banner-msog.png">
{% endblock %}